
body .modal {
  color: #333;
}
#comicImages {
  text-align: center;
}
.fit {
  height: 100vh;
}
.fitVertical {
  height: 100%;
  width: auto;
}
.spread2 .fitHorizontal {
  height: auto;
  width: 50%;
}
.spread1 .fitHorizontal {
  height: auto;
  width: 100%;
}

.fitBoth {
  width: auto;
  height: auto;
  max-height: 100%;
}
.spread1 .fitBoth {
  max-width: 100%;
}
.spread2 .fitBoth {
  max-width: 50%;
}
